@model alhadaproject.Models.StateViewModel
@{
    ViewData["Title"] = "StateDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page">
    <div roll='main' class='main pgl-bg-grey'>
        <!-- Begin content with sidebar -->
        <div class="container">
            <div class="row">

                <div class="col-md-12 content">
                    <section class="pgl-pro-detail pgl-bg-light ">
                        <div id="slider" class="flexslider">
                            <ul class="slides">

                                @foreach(alhadaProject.Models.StateImage item in Model.stateImages)
                                {
                                <li>
                                    <img src="~/uploads/@item.estateImage" height="800" alt="">
                                    <span class="property-thumb-info-label">
                                        <span class="label price">&nbsp;د.أ</span>
                                    </span>
                                    </li>
                                }

                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                @foreach(alhadaProject.Models.StateImage item in Model.stateImages)
                                {
                                    <li> <img src="~/uploads/@item.estateImage" alt="image" width="200" height="100"></li>
                                }


                            </ul>
                        </div>
                        <div class="pgl-detail">
                            <div class="row details-box">
                                <div class="col-md-12">
                                    <h3 class="assete_title"><strong>( gfdgd )</strong></h3>
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <div class='facebook-share-btn amenities'>

                                        <div id="fb-root"></div>
                                        <div id="fb-root"></div>
                                        <script>
                                            (function (d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id))
                                                    return;
                                                js = d.createElement(s);
                                                js.id = id;
                                                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1419545331455003";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));</script>

                                       @* <div class="fb-share-button" data-href="http://test.upright-jo.com/Lands/details/" data-layout="button_count" data-size="large" data-mobile-iframe="true">
                                            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
                                        </div>*@


                                    </div>

                                    <ul class="list-unstyled amenities amenities-detail small">
                                        <li>
                                            <strong>ملاحظة:</strong>
                                            <br>
                                        </li>
                                        <li>
                                            لمشاهدة الشقق مجانا
                                            يرجى أخذ موعد مسبق
                                        </li>
                                        <li>
                                            هنالك طلب يتم التوقيع عليه بدفع عمولة
                                            2%
                                            في حال الشراء .(من قبل المشتري ).
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-4">
                                    <br>
                                    <br>
                                    <br>
                                    <p class='det-notes-box'> عدد الغرف : @Model.state.RoomNo </p>
                                    <p class='det-notes-box'> عدد غرف الماستر : @Model.state.MasterNo </p>
                                    <p class='det-notes-box'> عدد المطابخ @Model.state.KitchNo </p>
                                    <p class='det-notes-box'> عدد الحمامات : @Model.state.PathNo </p>
                                    <p class='det-notes-box'> عدد غرف المعيشة : @Model.state.LiveRoomNo </p>
                                    <p class='det-notes-box'> عدد الصالونات: @Model.state.SaloonNo </p>
                                    <p class='det-notes-box'> مواصفات أخرى </p>



                                </div>
                                <div class="col-sm-4">
                                    <br>
                                    <p class='det-notes-box'><h3> تفاصيل</h3> </p>
                                    <p class='det-notes-box'> المحافظة : @Model.state.City </p>
                                    <p class='det-notes-box'> المنطقة : @Model.state.Region  </p>
                                    
                                    <p class='det-notes-box'> تصنيف العقار : @Model.state.Category </p>
                                    <p class='det-notes-box'> الطابق : @Model.state.Floor </p>
                                    <p class='det-notes-box'> مساحة البناء : @Model.state.LandArea  </p>
                                    <p class='det-notes-box'> سنة البناء : @Model.state.BuildYear  </p>
                                    <p class='det-notes-box'> السعر: @Model.state.Price </p>
                                   
                                    <a asp-action="EditState" asp-route-id="@Model.state.Id" class="btn btn-default center btn-sm">  تعديل </a>



                                </div>

                            </div>

                    </section>
                    <!-- Begin Related properties -->

                </div>
            </div>
        </div>
        <!-- End content with sidebar -->

        


    </div>
    <!-- Include Editor style. -->
    <script defer>
        (function () {
            setTimeout(function () {
                var data = {
                    position: '',
                    address: '',
                    type: 'أراضي',
                    name: '0'
                };
                initMapOnDetailsPage(data);

            }, 2000)

        })();
    </script>
    <script src="~/assets/js/mapapi.js" defer></script>







